<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css"/>
    <script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>

    <style type="text/css">
        .row{
            margin-bottom:8px
        }
    </style>
</head>
<body>
<div class="container-fluid">

    <form id="upForm">

        <div class="row">

            <div class="col-md-6">

                <div class="input-group">
                    <span class="input-group-addon">学生姓名</span>
                    <input type="text" style="display: none" name="id" th:value="${u.id}" >
                    <input type="text" id="name" name="name" class="form-control" placeholder="学生姓名"  th:value="${u.name}"  aria-describedby="basic-addon1">
                </div>

            </div>
            <div class="col-md-6">

                <div class="input-group">
                    <span class="input-group-addon">年龄</span>
                    <input id="age" name="age" th:value="${u.age}" class="form-control">
                </div>

            </div>

        </div>


    </form>

</div>
</body>
<script>




</script>
</html>